<md-dialog aria-label="dialog formt" class="fullscreen-dialog custom-form" style="width:90%; border-radius: 5px" ng-cloak >
    <form id="serviceForm" name="serviceForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Lease Invoice</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()">
                    <md-icon md-svg-src="./assets/angular-material-assets/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div layout="column" class="page" >
                <form layout-margin name="assetItemForm">
                    <fieldset>
                        <div layout="row">
                            <div flex="20">
                                <label class="label">Project:</label>
                            </div>
                            <md-input-container flex="25">
                                <label></label>
                                <input md-no-asterisk type="text" readonly ng-model="vm.invoiceDetail.Project">
                            </md-input-container>
        
                            <div flex="20">
                                <label class="label">Location:</label>
                            </div>
                            <md-input-container flex="25">
                                <label></label>
                                <input md-no-asterisk type="text" readonly ng-model="vm.invoiceDetail.Location">
                            </md-input-container>
                        </div>  
                    
                        <div layout="row">
                            <div flex="25">
                              <label class="label">Select Year and Month:</label>
                            </div>
                            <md-datepicker
                              md-date-locale="vm.monthFormat"
                              md-mode="month"
                              flex="20"
                              md-open-on-focus="true" required ng-model="vm.invoiceDetail.SelectedMonth">
                            </md-datepicker>

                            <div flex="10">
                                <md-button class="md-raised md-accent" ng-disabled="vm.invoiceDetail.SelectedMonth==null || vm.invoiceDetail.AssetLeaseId==null" ng-click="vm.GetInvoiceDetails()">
                                  invoice details
                                </md-button>
                              </div>
                        </div>     
                    </fieldset>   
                
                    <div class="table">
                        <h3 class="sub-title">Update Entries</h3>
                        <md-table-container>
                            <table md-table md-row-select="true" multiple="true" md-progress="promise">
                                <thead md-head md-order="query.order">
                                    <tr md-row>
                                        <th md-column><span>S/N</span></th>
                                        <th md-column><span>Group</span></th>
                                        <th md-column><span>Sub Group</span></th>
                                        <th md-column><span>Description</span></th>
                                        <th md-column><span>Code</span></th>
                                        <th md-column><span>Make/Brand</span></th>
                                        <th md-column style="white-space:nowrap;">Model</th>
                                        <th md-column><span>Type</span></th>
                                        <th md-column><span>Daily Cost</span></th>
                                        <th md-column><span>Up Time</span></th>
                                        <th md-column><span>Down Time</span></th>
                                        <th md-column><span>Total Amount</span></th>
                                    </tr>
                                </thead>

                                <tbody md-body>
                                    <tr md-row md-select="entry.Id" md-select-id="entry.Id" ng-repeat="entry in vm.invoiceDetail.InvoiceEntries">
                                        <td md-cell >{{ $index + 1}}</td>
                                        <td md-cell style="white-space:nowrap;">{{ entry.AssetGroup }}</td>
                                        <td md-cell style="white-space:nowrap;">{{ entry.AssetSubGroup }}</td>
                                        <td md-cell style="white-space:nowrap;">{{ entry.Description }}</td>
                                        <td md-cell style="white-space:nowrap;">{{ entry.AssetCode }}</td>
                                        <td md-cell style="white-space:nowrap;">{{ entry.AssetBrand }}</td>
                                        <td md-cell style="white-space:nowrap;">{{ entry.AssetModel }}</td>
                                        <td md-cell style="white-space:nowrap;">{{ entry.AssetType }}</td>
                                        <td md-cell style="white-space:nowrap;">{{ entry.LeaseCost }}</td>
                                        <td md-cell style="white-space:nowrap;">{{ entry.UpTime }}</td>
                                        <td md-cell style="white-space:nowrap;">{{ entry.DownTime }}</td>
                                        <td md-cell style="white-space:nowrap;">{{ (entry.LeaseCost * entry.UpTime) | number:2}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </md-table-container>
                    </div>
                </form>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="center center">
            <md-button  ng-click="vm.closeDialog()" class="md-raised md-accent" aria-label="close">
                close
            </md-button>            
            <span></span>
            <!-- <md-button ng-click="answer('not useful')">
            Not Useful
            </md-button> -->
            <md-button  ng-click="vm.submit()" ng-disabled="vm.invoiceDetail == null || vm.invoiceDetail.InvoiceEntries == null || vm.invoiceDetail.InvoiceEntries.length==0" class="md-raised md-accent" aria-label="Submit">
                save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>