<md-dialog aria-label="waiting list" class="custom-form" style="width:70%; border-radius: 5px" ng-cloak >
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Asset Lease Update</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.cancel()">
                <md-icon md-svg-src="./assets/angular-material-assets/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div layout="column" class="page" >
            <form name="assetUpdateForm">
                <md-card class="default header" layout="column" layout-align="center left">
                    <md-radio-group layout="row" layout-align="space-around center" flex ng-model="vm.updateMethod" >
                        <md-radio-button value="batch">Batch Upload</md-radio-button>
                        <md-radio-button value="manual">Manual Update</md-radio-button>
                    </md-radio-group>
                </md-card>

                <fieldset style="margin-top: 10px;">
                    <div layout="row">
                        <div flex="20">
                            <label class="label">Project:</label>
                        </div>
                        <md-input-container flex="25">
                            <label></label>
                            <input md-no-asterisk type="text" readonly ng-model="vm.leaseUpdate.Project">
                        </md-input-container>
    
                        <div flex="20">
                            <label class="label">Location:</label>
                        </div>
                        <md-input-container flex="25">
                            <label></label>
                            <input md-no-asterisk type="text" readonly ng-model="vm.leaseUpdate.Location">
                        </md-input-container>
                    </div>  
                
                    <div layout="row">
                        <div flex="20">
                            <label class="label"> Lease Number:</label>
                        </div>
                        <md-input-container flex="25">
                            <label></label>
                            <input md-no-asterisk type="text" readonly ng-model="vm.leaseUpdate.LeaseNumber">
                        </md-input-container>

                        <div flex="20">
                            <label class="label"> Update Date:</label>
                        </div>
                        <md-input-container flex="25">
                            <label></label>
                            <input md-no-asterisk type="date" required ng-model="vm.leaseUpdate.UpdateDate" min="{{vm.leaseUpdate.ExpectedLeaseOutDate | date:'yyyy-MM-dd' }}" max="{{vm.maxDate | date:'yyyy-MM-dd'}}">
                        </md-input-container>
                    </div>     
                </fieldset>  
                <fieldset ng-if="vm.updateMethod=='batch'">
                    <legend>Bulk Upload</legend>
                    <div>
                        <md-button class="md-accent md-raised" ng-click="vm.downloadTemlate()">Download Template</md-button>
                        <md-input-container>
                            <label for="excelFileInput"></label>
                            <input id="excelFileInput" ng-file-model="vm.selectedFile" type="file"/>
                        </md-input-container>
                        <md-button class="md-accent md-raised" ng-disabled="vm.selectedFile == null || vm.leaseUpdate.UpdateDate==null" ng-click="vm.handleFile()">Upload</md-button>
                    </div>
                  </fieldset>
                  <div class="table" ng-if="vm.updateMethod=='manual'">
                    <h3 class="sub-title">Update Entries</h3>
                    <md-table-container>
                        <table md-table md-row-select="true" multiple="true" md-progress="promise">
                            <thead md-head md-order="query.order">
                                <tr md-row>
                                    <th md-column><span>S/N</span></th>
                                    <!-- <th md-column><span>Group</span></th>
                                    <th md-column><span>Sub Group</span></th> -->
                                    <th md-column><span>Description</span></th>
                                    <th md-column><span>Code</span></th>
                                    <th md-column><span>Make/Brand</span></th>
                                    <th md-column style="white-space:nowrap;">Model</th>
                                    <th md-column><span>Type</span></th>
                                    <th md-column><span>Dimension</span></th>
                                    <th md-column><span>Capacity</span></th>
                                    <th md-column><span>Serial Number</span></th>
                                    <th md-column><span>Status</span></th>
                                </tr>
                            </thead>
                            <tbody md-body>
                                <tr md-row md-select="entry.Id" md-select-id="entry.Id" ng-repeat="entry in vm.leaseUpdate.Entries">
                                    <td md-cell >{{ $index + 1}}</td>
                                    <!-- <td md-cell style="white-space:nowrap;">{{entry.AssetGroup}}</td>
                                    <td md-cell style="white-space:nowrap;">{{entry.AssetSubGroup}}</td> -->
                                    <td md-cell style="white-space:nowrap;">{{entry.Description}}</td>
                                    <td md-cell style="white-space:nowrap;">{{entry.AssetCode}}</td>
                                    <td md-cell style="white-space:nowrap;">{{entry.AssetBrand}}</td>
                                    <td md-cell style="white-space:nowrap;">{{entry.AssetModel}}</td>
                                    <td md-cell style="white-space:nowrap;">{{entry.AssetType}}</td>
                                    <td md-cell style="white-space:nowrap;">{{entry.AssetDimension}}</td>
                                    <td md-cell style="white-space:nowrap;">{{entry.AssetCapacity}}</td>
                                    <td md-cell style="white-space:nowrap;">{{entry.AssetSerialNumber}}</td>
                                    <td md-cell >
                                        <md-select ng-model="entry.FunctionalStatus" placeholder="">
                                            <md-option ng-value="status" ng-repeat="status in vm.updateStatuses">
                                                {{ status }}
                                            </md-option>
                                        </md-select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </md-table-container>
                    <div layout="row" layout-align="center center">
                        <md-button class="md-raised md-accent" ng-click="vm.submitUpdate()" 
                                ng-disabled="assetUpdateForm.$invalid || assetUpdateForm.$pristine">
                                submit
                        </md-button>
                    </div>
                </div>
            </form>
        </div>
    </md-dialog-content>
</md-dialog>