<div layout="row" id="drug-register" ng-cloak="" layout-fill>

    <div layout="column" class="page" flex>
        <md-card class="default header" layout="column" layout-align="center left">
        </md-card>

        <md-content class="body" layout="column" flex layout-margin ms-scroll>
            
            <form name="newLocationForm">
                <!-- <h3 class="sub-title">New Location</h3> -->
                <fieldset>
                    <div layout="row">
                        <div flex="20">
                            <label class="label">Location Name:</label>
                        </div>
                        <md-input-container flex="25">
                            <label></label>
                            <input md-no-asterisk type="text" required ng-model="vm.newLocation.Name">
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <div flex="20">
                            <label class="label">Code:</label>
                        </div>
                        <md-input-container flex="25">
                            <label></label>
                            <input md-no-asterisk type="text" required ng-model="vm.newLocation.Code">
                        </md-input-container>
    
                        <div>
                            <md-button class="md-raised md-accent" ng-click="vm.addNewLocation()" 
                                ng-disabled="newLocationForm.$invalid || newLocationForm.$pristine">
                                save
                            </md-button>
                        </div>
                    </div>
                    
                </fieldset>
            </form>

            <div class="table">
                <!-- <h3 class="sub-title">Current Locations</h3> -->
                <md-table-container>
                    <div layout="row" class="tool-bar" layout-align="end" ng-if="vm.selectedLocations.length>0">
                        <md-button  class="md-raised md-warn" ng-click="vm.deleteRowCallback(vm.selectedLocations)">
                            <ng-md-icon icon="delete" md-menu-align-target></ng-md-icon>
                        </md-button>
                    </div>
                    <table md-table md-row-select="true" multiple="true" ng-model="vm.selectedLocations" md-progress="promise">
                        <thead md-head md-order="query.order">
                            <tr md-row>
                                <th md-column><span>S/N</span></th>
                                <th md-column><span>Name</span></th>
                                <th md-column><span>Code</span></th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row md-select="item.Id" md-select-id="item.Id" ng-repeat="item in vm.subsidiaryLocation.Locations">
                                <td md-cell >{{ ($index+1) + ((query.page -1) * query.limit)}}</td>
                                <td md-cell ng-click="vm.editProperty($event, item,'Name')">{{item.Name}}</td>
                                <td md-cell ng-click="vm.editProperty($event, item,'Code')">{{item.Code}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{vm.subsidiaryLocation.TotalCount}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="vm.GetLocations"></md-table-pagination>
                </md-table-container>
            </div>
        </md-content>
    </div>
</div>
